:root {
    --blue: #9aafd6;
    --white: #ffffff;
    --gray: #444444;
    --darkblue: #6686c1;
}

body {
    margin: 1.5em;
    font-family: "Poppins", sans-serif;
    background-color: #E1F1ED;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
}


.company-logo {
    width: 12em;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--blue);
    height: 100vh;
    width: 70%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: var(--white);
            padding: .75em 2em;
            display: block;

            &:hover {
                background: var(--white);
                color: var(--blue);
            }

            &:active {
                background: var(--gray);
                color: var(--white);
            }
        }
    }

    .close {
        float: right;
        margin: 2em;
        width: 2.5em;
    }



}

header {
    display: flex;
    justify-content: space-between;

    svg {
        width: 3em;
        margin-top: -.6em;
        cursor: pointer;

    }


}

.hak_paragraf {

    h3 {
        font-size: 2rem;
        margin-top: 1em;
        line-height: 3.3rem;
        animation: moveDown 1s ease-in-out forwards;
        color: var(--darkblue);
        opacity: 0;
    }

    p {
        animation: moveUp 1s ease-in-out forwards;
        animation-delay: 2s;
        opacity: 0;
    }

}

.office-logo {
    position: relative;
    bottom: 0;
    left: 0;
    background: url("../assets/images/office-logo.jpg");
    background-position-x: 73%;
    background-position-y: 57%;
    width: 100%;
    height: 50vh;
    z-index: -1;
    transition: transform 0.5s ease-in-out;
    -webkit-animation: introLoad 2s forwards;
    animation: introLoad 2s forwards;
}


.open-nav {
    transform: translateX(0%);
}


@media only screen and (min-width: 720px) {

    body {
        margin: 1.5em 5em;
    }

    nav {
        width: 50%;
    }
}

@media only screen and (min-width: 1050px) {

    .menu {
        display: none;
    }



    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        .close {
            display: none;
        }

        ul {
            display: flex;
            margin: 0;

            a {
                color: #444444;
                padding: .5em 1.5em;
                font-size: .9rem;
                margin-top: 2.5em;

                &:hover {
                    background: none;
                    text-decoration: underline;
                }
            }
        }

    }
}

@media only screen and (min-width: 1300px) {

    /* .wrapper {
        width: 1300px;
        margin: 0 auto;
    } */

}

@keyframes introLoad {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes moveArrow {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveUp {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}