:root {
  --blue: #9aafd6;
  --white: #ffffff;
  --gray: #444444;
  --darkblue: #6686c1;
}

body {
  margin: 1.5em;
  font-family: "Poppins", sans-serif;
  background-color: #E1F1ED;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

.company-logo {
  width: 12em;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--blue);
  height: 100vh;
  width: 70%;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
nav ul a {
  color: var(--white);
  padding: 0.75em 2em;
  display: block;
}
nav ul a:hover {
  background: var(--white);
  color: var(--blue);
}
nav ul a:active {
  background: var(--gray);
  color: var(--white);
}
nav .close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

header {
  display: flex;
  justify-content: space-between;
}
header svg {
  width: 3em;
  margin-top: -0.6em;
  cursor: pointer;
}

.hiz_paragraf p {
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  opacity: 0;
}

h2 {
  font-size: 2rem;
  color: var(--darkblue);
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1em;
  color: var(--blue);
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
}

section p {
  padding-left: 3em;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  opacity: 0;
}
section .alt-bilgi {
  font-size: 0.8rem;
  font-weight: bold;
  padding-left: 8em;
  color: var();
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  opacity: 0;
}

.open-nav {
  transform: translateX(0%);
}

footer {
  background: var(--blue);
  height: 30vh;
}
footer .footer-logo img {
  width: 8em;
}
footer ul {
  display: none;
}

@media only screen and (min-width: 720px) {
  body {
    margin: 1.5em 5em;
  }
  nav {
    width: 50%;
  }
}
@media only screen and (min-width: 1050px) {
  .menu {
    display: none;
  }
  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav .close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: #444444;
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
    margin-top: 2.5em;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
}
@media only screen and (min-width: 1300px) {
  .feature {
    margin-left: 6em;
    gap: 10em;
  }
}
@-webkit-keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 99% 0, 99% 100%, 0 100%);
            clip-path: polygon(0 0, 99% 0, 99% 100%, 0 100%);
  }
}
@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 99% 0, 99% 100%, 0 100%);
            clip-path: polygon(0 0, 99% 0, 99% 100%, 0 100%);
  }
}
@-webkit-keyframes moveArrow {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes moveDown {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes moveUp {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveUp {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=hizmetler.css.map */